
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name - Ürün Detayı</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Ek stil dosyalarını buraya ekleyebilirsiniz. -->
</head>
<body class="container mt-5">

    <div class="card">
        <img class="card-img-top" src="Image" alt="Ürün Resmi">
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">des</p>
            <p class="card-text">Fiyat: Ücret TL</p>
            <!-- Gerekirse, diğer ürün detayları eklenerek genişletilebilir. -->
        </div>
    </div>

    <!-- Gerekirse, diğer HTML ve içerik eklemelerini buraya ekleyebilirsiniz. -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Ek script dosyalarını buraya ekleyebilirsiniz. -->

</body>
</html>
